<li [ngClass]="{'list-group-item':true,
				'list-group-item-success': loveIts > 0,
				'list-group-item-danger': loveIts < 0}">
	<div class="row">
		<h3 [ngStyle]="{color: getColor()}" class="col-md-8">{{postTitle}}</h3>
		<p style="color:grey" class="col-md-4 text-right">{{created_at | date: 'short' | uppercase}}</p>
	</div>

	<p>{{postContent}}</p>
	<div>
		<button class="btn btn-success"
		          (click)="onLoveIt(index)"
		          style="margin-right: 5px;">Love it!</button>
		<button class="btn btn-danger"
		          (click)="onDontLoveIt(index)">Don't love it!</button>
		<button class="btn btn-danger pull-right"
				(click)="onDeletePost(index)"
				style="">Supprimer post!</button>
	</div>
</li>
